requests
pathvalidate
urlextract
torch
safetensors
beautifulsoup4
ffmpeg-python
python-dotenv
hydrus-api
#dateutil
lark
textblob
sacremoses
html2text
Pillow
pandas
pyarrow
opencv-python==4.7.0.68
scipy
onnx
onnxruntime-gpu
